body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9; 
}
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
section {
    margin-bottom: 40px;
}

h1 {
  text-align: center;
  color: #333; 
  margin-bottom: 20px;
  background-color: #e6e6e6; /* Light grey background for title */
  padding: 10px; /* Add padding for space around title */
  border-radius: 5px; /* Add rounded corners */
}

p {
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
}

h2 {
  color: #2980b9; 
  margin-top: 30px; 
  margin-bottom: 15px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #2980b9;
  color: white;
}

img {
  max-width: 500px; /* Adjust as needed */
  margin-bottom: 20px;
}

footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
